<p id="notice"><%= notice %></p>

<p>
  <strong>Login:</strong>
  <%= @task.login %>
</p>

<p>
  <strong>Password:</strong>
  <%= @task.password %>
</p>

<p>
  <strong>Employer:</strong>
  <%= @task.employer %>
</p>

<p>
  <strong>Location:</strong>
  <%= @task.location %>
</p>

<p>
  <strong>Story:</strong>
  <%= @task.story %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @task.start_date %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
